<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          FAQ
        </h1>
      </div>
      <div class="col-sm-12">
        <button
          type="button"
          class="btn btn-primary float-right"
          (click)="addExamTips()"
        >
          Add FAQ
        </button>
      </div>
    </div>
  </div>
</section>
<div *ngIf="isDataLoaded">
  <div class="col-12">
    <form [formGroup]="searchFaqForm" action="" class="">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <select
            formControlName="categoryName"
            (change)="changeCategory()"
            class="form-control"
            [(ngModel)]="searchFilter.mainTopic"
          >
            <option *ngFor="let item of MainTopicList" [ngValue]="item">{{
              item.categoryName
            }}</option>
          </select>
          </div>
        </div>
        <div class="col-3">
          <select
            formControlName="subCategoryName"
            (change)="changeSubCategory()"
            class="form-control"
            [(ngModel)]="searchFilter.subTopic"
          >
            <option *ngFor="let item1 of subCatname" [ngValue]="item1">{{
              item1.subCategory
            }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <button 
          class="btn btn-info"
          (click)="resetFilter()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
  <section class="content mt-3">
    <div
      class="container-fluid"
      *ngIf="allFaqList && allFaqList.length > 0; else noDataFound"
    >
      <div class="card tex">
        <div class="card-body p-0">
          <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table m-0">
              <thead class="thead">
                <tr *ngIf="allFaqList.length > 0">
                  <!-- <th>#</th> -->
                  <th class="row-color" width="40%">
                    Question
                    <i
                      class="fa fa-arrow-up arrow mr-2"
                      style="cursor: pointer;"
                      (click)="onPageSortDesc()"
                    >
                    </i>
                    <i
                      class="fa fa-arrow-down arrow"
                      style="cursor: pointer;"
                      (click)="onPageSortAsc()"
                    ></i>
                  </th>
                  <th class="row-color" width="50%">Answer</th>
                  <th class="row-color" width="10%">Action</th>
                </tr>
              </thead>
              <tbody class="scrollit">
                <tr *ngFor="let items of allFaqList
                              | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNo }; 
                            let i = index">
                  <!-- <td>{{ i + 1 }}</td> -->
                  <td class="text" [innerHTML]="items.fQuestion"></td>
                  <td class="text" [innerHTML]="items.fAnswer"></td>

                  <td>
                    <span
                       *ngIf="items.isPublished == true" 
                      (click)="
                        onUpdateUnPublish(
                          items.subcatKey,

                          items.faqKey,
                          items.isPublished
                        )
                      "
                      ><a
                        data-toggle="tooltip"
                        title="Unpublish this faq"
                        ><i class="fas fa-eye published-botton mr-2"></i></a
                    ></span>
                    <span
                      *ngIf="items.isPublished == false"
                      (click)="
                        onUpdatePublish(
                          items.subcatKey,
                          items.faqKey,
                          items.isPublished,
                          items
                        )
                      "
                      ><a
                        data-toggle="tooltip"
                        title="publish this faq"
                        ><i class="fas fa-eye-slash unpublished-botton mr-2"></i></a
                    ></span>
                    <span
                      (click)="
                        onUpdateFaq(
                          items.subcatKey,
                          items.faqKey
                        )
                      "
                      ><a
                        data-toggle="tooltip"
                        title="Edit this faq"
                        ><i class="fas fa-edit edit-botton mr-2"></i></a
                    ></span>
                    <span
                      (click)="
                        onDeleteFaq(
                          items.subcatKey,
                          items.faqKey,
                          items.isPublished
                        )
                      "
                      ><a
                        data-toggle="tooltip"
                        title="Delete this faq"
                      >
                        <i
                          class="fa fa-trash delete-botton mr-2"
                          aria-hidden="true"
                        ></i></a
                    ></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer clearfix" 
            *ngIf="allFaqList && allFaqList.length > 0">
          <div class="d-flex p-2 justify-content-end">
            <div class="mr-1">
              <select
                class="form-control form-control-sm"
                [(ngModel)]="itemsPerPage"
                >
                <option *ngFor="let item of itemsPerPageValues" [ngValue]="item">{{
                  item
                }}</option>
              </select>
            </div>
            <div class="mr-1">
              <input type="number" 
                class="input" 
                min="0" 
                (change)="checkPageNumber($event)"
                (keyup)="checkPageNumber($event)"
                [(ngModel)]="pageNoBind"
                placeholder="Go to"
                class="form-control form-control-sm">
            </div>
            <div class="mr-1">
              <pagination-controls
                class="float-right"
                (pageChange)="pageNo = $event && pageNoBind = $event"
                [maxSize]="pageMaxSize"
                (pageBoundsCorrection)="onPageBoundsCorrection($event)">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noDataFound>
      <app-data-not-found [noDataMsg]="noDataMsg"></app-data-not-found>
    </ng-template>
  </section>
</div>

<app-common-publish-without-notification [item]="publishItem"></app-common-publish-without-notification>
<app-common-unpublish [item]="unPublishItem"></app-common-unpublish>
<app-common-delete [item]="deleteItem"></app-common-delete>
