.modal-footer {
    border-top: 0px solid #e9ecef;
    justify-content: center;
}
.modal-header {
    border-bottom: 0px solid #e9ecef !important;
}
.scrollit {
  overflow: scroll;
  height: 100px;
}
.description {
  max-height: 150px; 
  max-width: 350px;
}
.title {
  max-width: 200px;
  word-wrap: break-word;
}



