.modal-header {
  border-bottom: 0px solid #e9ecef !important;
}
.modal-footer {
  border-top: 0px solid #e9ecef;
}
.scrollit {
  overflow: scroll;
  height: 100px;
}

.btnactive {
  border: none;
  outline: none;
  padding: 3px 6px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 8px;
}
// .btn:hover,
.active {
  background-color: #666;
  color: white;
}
