.round {
  border-radius: 50%;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}

.text-align {
  width: 52%;
  margin-left: 20%;
}
.label-align {
  margin-left: 20%;
}

.card {
  box-shadow: 1px 4px #888888 !important;
  width: 100% !important;
  margin-top: 30px !important;
}

.col {
  padding-right: 37px;
  padding-left: 37px;
}

.btns {
  background-color: transparent;
  border: none;
  width: 81px;
  border-radius: 4px;
  color: white;
}
