<div class="modal fade" id="errorDetailedView" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="content mt-3">
          <div class="container-fluid" *ngIf="data; else noDataFound ">
            <div class="card tex">
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <tbody class="scrollit">
                      <tr><td class="text"><strong>Question No:</strong>{{data.reviews.questionNumber}}</td></tr>
                      <tr><td class="text"><strong>Question :</strong>{{data.reviews.qnModel.question}}</td></tr>
                      <tr *ngIf="data.practiceNode"><td class="text"><strong>Practice Name :</strong>{{data.practiceName}}</td></tr>
                      <tr *ngIf="data.examnode"><td class="text"><strong>Exam Name :</strong>{{data.examName}}</td></tr>
                      <tr *ngIf="data.practiceNode"><td class="text"><strong>Chapter :</strong>{{data.reviews.examId.metaData.chapterName}}</td></tr>
                      <tr *ngIf="data.practiceNode"><td class="text"><strong>Sub Topic Name :</strong>{{data.subCategoryName}}</td></tr>
                      <tr><td class="text"><strong>Main Topic :</strong>{{data.mainTopic}}</td></tr>
                      <tr><td class="text"><strong>Complaint :</strong>{{data.reviews.optionChose}}</td></tr>
                      <tr><td class="text"><strong>Description :</strong>{{data.reviews.errorDescription}}</td></tr>
                      <tr><td class="text"><strong>Reported By :</strong>{{data.reviews.userName}}</td></tr>
                      <tr><td class="text"><strong>Admin Comment :</strong>{{data.reviews.comments}}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer clearfix"></div>
            </div>
          </div>

          <ng-template #noDataFound>
            <app-data-not-found [noDataMsg]="noDataMsg"></app-data-not-found>
          </ng-template>
        </section>
      </div>
    </div>
  </div>
</div>